@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:.2s linear;
}
:root{
    --white: #fff;
    --black: #333;
    --orange: orange;
    --lightgray: #e9e9e9;
}
body{
    height: 100vh;
    background-color:var(--lightgray)
}
body.dark{
    --white: #333;
    --black: #fff;
    --orange: orange;
    --lightgray: #e9e9e9;
}
.container{
    max-width: 1520px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    border-bottom: 1px solid var(--black);
    position: sticky;
    top: 0;
    background-color: var(--white);
}
/* .headerDark{
    background: #000;
}
.headerDark input{
    background: #fff !important;
}
.headerDark i{
    color: #000 !important;
} */
header .logo h1{
    text-transform: uppercase;
    font-size: 25px;
    color: var(--black);
    cursor: pointer;
}
header .logo span{
    color: var(--white);
    font-size: 30px;
}

.icons{
    display: flex;
    gap: 10px;
    color: #fff;
}
.icons i{
    background: var(--black);
    color: var(--white);
    padding: 10px;
    border-radius: 50%;
}
header form{
    position: relative;
}
header form input[type="text"]{
    background: var(--black);
    padding: 15px;
    width: 400px;
    border-radius: 40px;
    border: none;
    outline: none;
    color: var(--white);
}
header .fa-search{
    color: var(--white);
    position: absolute;
    top: 13px;
    right: 25px;
    font-size: 20px;
}
nav.active{
    left: 0;
}
nav{
    width: 300px;
    position: fixed;
    top: 87px;
    left: -120%;
    background: var(--white);
    padding: 30px 0px;
    height: 100%;
}
nav .user{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
nav .user div{
    text-align: center;
    display: flex;
    justify-content: center;
}
nav img{
    max-width: 120px;
    border: 2px solid var(--white);
    border-radius: 50%;
    justify-content: center;
    display: flex;
    margin-bottom: 5px;
} 

nav ul {
    display: block;
    width: 100%;
    padding: 0 40px;
}
nav ul li{
    display: block;
    width: 100%;
    width: 100%;
    text-transform: capitalize;
    padding: 20px 0px;    
    border-bottom: 1px solid var(--black);
    width: 100%;
}
nav ul li a{
    color: var(--black);
    font-size: 20px;
}
.fa,.fas{
    cursor: pointer;
}
.icons .fa:hover, .fas:hover{
    transform: rotate(360deg);
    background-color: var(--orange);
}
.fa-times{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: var(--black);
}
.fa-times:hover, header .fa-search:hover, nav ul li:hover a{
    color: var(--orange);
}
nav ul li:hover a{
    letter-spacing: 2px;
}
.user h3{
    color: var(--black);
}
/* banner starts */
.banner{
    height: calc(100vh - 87px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bannerText p{
    font-size: 25px;
    color: var(--orange);
}
.bannerText h1{
    font-size: 90px;
    text-transform: uppercase;
    color: var(--black)
}
.darkBtn{
    padding: 12px 50px;
    background: var(--black);
    color: var(--white);
    border-radius: 20px;
    font-size: 14px;
}
/* banner ends */
hr{
    background: gray;
    height: 1px;
    margin: 10px 0px;
}
/* category starts */
.category{
    height: 400px;
}
.title{
    text-transform: uppercase;
    font-size: 28px;
    color: var(--black);    
}
.title > span{
    text-transform: uppercase;
    font-size: 28px;
    color: var(--orange);
}
.categoryBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 20px 0px;
}
.catBox1{
    background-image: url('../images/cat-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    position: relative;
}
.catBox2{
    background-image: url('../images/cat-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    position: relative;
}
.catBox1:hover,.catBox2:hover{
    background-size: 110%;
}
.catBoxText{
    position: absolute;
    bottom: 100px;
    left: 30px;
}
.catBoxText p:nth-child(1){
    font-size: 20px;
    color: var(--orange);
}
.catBoxText p:nth-child(2){
    font-size: 40px;
    color: var(--black);
    font-weight: 600;
}
.catBoxText button{
    padding: 12px 40px;
    background: var(--black);
    color: var(--white);
    border-radius: 20px;
    font-size: 14px;
    margin: 10px 0;
}
/* category ends */
/* products starts */
.products .title{
    max-width: 1520px;
    margin: 0 auto;
}
.checked {
    color: orange;
}
.card{
    max-width: 450px;
    background: var(--white);
    text-align: left;
    border: 1px solid gray;
    position: relative;
    border-radius: 7px;
}
.cardText{
    padding: 20px;
    border-top: 1px solid gray;
}
.stars,.catName,.catPrice,.catBtn{
    padding: 5px 0;
}
.stars{
    font-size: 20px;
}
.catName{
    font-size: 24px;
}
.catPrice{
    color: var(--orange);
    font-size: 20px;
}
.catPrice sup{
    color: var(--black);
    text-decoration: line-through;
}
.catIcons{
    position: absolute;
    top: 10px;
    right: -10%;
    display: none;
}
.card:hover .catIcons{
    right: 10px;
    display: block;
}
.catIcons div{
    margin: 10px 0px;
}
.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
    text-align: left;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: block !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/* products ends */